:root {
    --primery-text-color: #212121;
    --additional-text-color-1: #757575;
    --additional-text-color-2: #FFFFFF;
    --additional-text-color-3: rgba(255, 255, 255, 0.6);
    --color-logo: #000000;
    --accent-color: #2196F3;
    --additional-background-color-1: #F5F4FA;
    --additional-background-color-2: #2F303A;

}